lab1/obj/Debug lab1/obj/lab1.csproj.nuget.dgspec.json lab1/obj/lab1.csproj.nuget.g.props lab1/obj/lab1.csproj.nuget.g.targets lab1/obj/project.assets.json lab1/obj/project.nuget.cache
lab1/bin/Debug
.vs/
*.vsidx
